<div class="jumbotron hero">
  <div class="hero-inner">
    <h1>Recipe on Rails</h1>
    <p>Recipes, Menus & Food Guides</p>
    <p><%= link_to "Sign up", signup_path, class: "btn btn-default btn-lg" %></p>
  </div>
</div>

<div class="container">
  <br>
  <h2>Discover Thousands of Recipes</h2>
  <br><br>
  <section class="featured">
    <div class="col-md-6 col-xs-12 featured-image">
    </div>
    <div class="col-md-6 col-xs-12 featured-desc">
      <div class="featured-desc-inner">
        <br><br>
        <h3>View Recipes as a Guest User</h3>
        <h3><small>Browse and view recipes as a guest user. You can always sign up later.</small></h3>
        <br>
        <p><%= link_to "<i class=\"fa fa-search\"></i> Browse now".html_safe, recipes_path, class: "btn btn-primary" %></p>
      </div>
    </div>
  </section>
</div>

<br><br>