@import "bootstrap-sprockets";
@import "bootstrap";

$b-radius: 4px;
$white-color: #fff;
$bor-color: #dce0e0;

body {
  background-color: #edefed;
  font-family: 'Roboto', sans-serif;
  color: #484848;
  padding-top:50px;
}

/****Nav****/
.nav-white {
  background: $white-color;
}
.navbar-default .navbar-nav > li > a:hover {
  background-color: #f5f5f5;
}
.navbar-default .navbar-nav > li > a {
  border-left: 1px solid $bor-color;
}
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
  border-color: $bor-color;
}
/****END-Nav****/

.hero {
  min-height: 450px;
  color: $white-color;
  background: asset-url("banner.jpg") no-repeat;
  background-size: cover;
  text-align: center;
  .hero-inner {
    padding-top: 50px;
  }
}

.featured {
  padding:0;
  min-height: 320px;
  background: $white-color;
  border-radius: $b-radius;
  .featured-image {
    border-top-left-radius: $b-radius;
    border-bottom-left-radius: $b-radius;
    min-height: 320px;
    background: asset-url("discover.jpg")
  }
  .featured-desc-inner {
    padding: 20px;
  }
}

.stream {
  border: 1px solid $bor-color;
  border-radius: 4px;
  background: $white-color;
  padding: 0;
  .recipe-item {
    padding: 20px;
    &:not(:first-child) {
      border-top: 1px solid $bor-color;
    }
    h3, h4 {
      margin-top: 0;
    }
  }
}

.recipe-directions {
  border: 1px solid $bor-color;
  background: $white-color;
  border-radius: 4px;
  padding: 20px;
  a:hover {
    text-decoration: none;
  }
}

/****MISC****/
.btn {
  border-radius: 3px;
}
.gravatar {
  padding: 2px;
  border: 1px solid $bor-color;
  border-radius: 100%;
}
.toast-top-right {
	top: 55px;
	right: 8px;
}
div.pagination {
  margin: 0;
}
/****END-MISC****/

.footer {
  margin-top: 10px;
  padding-top: 5px;
}