<div class="container">
  <div class="footer">
    <small>&copy; 2016 Recipe on Rails. Developed with <i class="fa fa-heart"></i> by <a href="https://twitter.com/NathanielGiron" target="_blank">Nathaniel Giron</a>.</small><br><br>
  </div>
</div>